.admin-wrapper{
    height: calc(100%-66px);
}
.admin-content{
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.admin-row { 
  margin-right: -15px; 
  margin-left: -15px;
}


#admin-page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 1200px;
}

#admin-page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

.page-title{
   text-align: center;
}




form div{
    margin: 20px;
}

select div {
    margin: 20px;
}

.card {
    height: 500px;
    width: 200px;
}



