



.msg {
    border-radius: 25px;
    width: 265px;
   margin: 5px auto;
    padding: 8px;
    list-style: none;
     box-sizing: border-box;
    
    
}

.success {
    color: #3a6e3a;
    border: 1px solid #3a6e3a;
    background-color: #bcf5bc;
    
}


.error {
     color: #884b4b;
    border: 1px solid #884b4b;
    background-color: #f5bcbc;
}
   

.gallery-upload {
    text-align: center;
}

.form {
    background: rgb(65, 52, 52);
    z-index: 1;
    font-family:"Candara", sans-serif;
    position: absolute;
    margin-left:15%;
    margin-right: 40%;
    margin-top: 5%;
    width: 450px;
    padding: 0 45px 30px 45px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
 
    
}

.form h2 {
    color: rgb(0, 195, 255);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; 
}

.form h5 {
    color: rgb(0, 195, 255);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; 
}

.form input{
    outline: 0;
    background: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 30px;
    padding: 8px;
    box-sizing: border-box;
    border: 2.5px solid #2e86de;
    border-radius: 15px;
}

.form label{
    outline: 0;
    background: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    padding: 5px;
    
}


.form select{
    outline: 0;
    background: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 30px;
    padding: 5px;
    box-sizing: border-box;
    border: 2.5px solid #2e86de;
    border-radius: 15px;
}




.form button{
    outline: 0;
    background: none;
    color: rgb(102, 200, 230);
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    padding: 10px;
    border: 2.5px solid #10ac84;
    border-radius: 25px;
    cursor: pointer;
   
}


    




